<html>
  <head>
    {% if title %}
    <title>{{ title }} - ACME</title>
    {% else %}
    <title>Welcome to ACME Aircraft Parts</title>
    {% endif %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='orm.js') }}"></script>
  </body>
</html>
