{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to ACME Aircraft Parts</h1>
      <div class= "section">
        <a href="{{ url_for('display_customer') }}">View All</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <div class="row">
          <div class="col s6">
            <h3 id="view_name"> {{ customer.fname }} {{ customer.lname }}</h3>
          </div>
        </div>

        <!-- Modal Structure -->
        <div id="address_modal" class="modal">
          <div class="modal-content">
            <form class="col s12" action="" method="post">
              {{ addressForm.hidden_tag() }}
              <div class="row">
                <div class="col s4">
                  {{ addressForm.street.label }} {{ addressForm.street(size=20) }}
                </div>
                <div class="col s2">
                  {{ addressForm.city.label }} {{ addressForm.city(size=20) }}
                </div>
                <div class="col s2">
                  {{ addressForm.state.label }} {{ addressForm.state(size=20) }}
                </div>
                <div class="col s2">
                  {{ addressForm.country.label }} {{ addressForm.country(size=20) }}
                </div>
                <div class="col s2">
                  {{ addressForm.zipcode.label }} {{ addressForm.zipcode(size=20) }}
                </div>
              </div>
              <input class="modal-action modal-close
                        waves-effect waves-green btn-flat right"
                      type="submit" value="Add">
            </form>
          </div>
        </div>
        <div class="col s6">
          <h4> Addresses </h4>
          <div class="collection">
            {% for address in addresses %}
              <li class="collection-item">{{ address.street }},
                                          {{ address.city }},
                                          {{ address.state }},
                                          {{ address.country }},
                                          {{ address.zipcode }}
              </li>
            {% endfor %}
          </div>
          <a id="add_address"
            class="waves-effect waves-light btn">Add another address</a>
        </div>
        <div id="order_modal" class="modal">
          <div class="modal-content">
            <form class="col s12" action="" method="post">
              {{ OrderForm.hidden_tag() }}
              <div class="row">
                <div class="col s6">
                  {{ OrderForm.name.label }} {{ OrderForm.name(size=20) }}
                </div>
                <div class="col s3">
                  {{ OrderForm.cost.label }} {{ OrderForm.cost(size=20) }}
                </div>
                <div class="col s3">
                  {{ OrderForm.parts.label }} {{ OrderForm.parts(size=20) }}
                </div>
              </div>
              <input class="modal-action modal-close
                        waves-effect waves-green btn-flat right"
                      type="submit" value="Add">
            </form>
          </div>
        </div>
        <ul id='order_dropdown' class='dropdown-content'>
          {% for order in new_orders %}
            <li><a href="{{ url_for('link_order',
                      customer_id = customer.id, order_id = order.id) }}">
                      {{ order.name }}</a></li>
          {% endfor %}
        <li class="divider"></li>
        <li><a id="add_order">Add New</a></li>
      </ul>
        <div class="col s6">
          <h4> Orders </h4>
          <div class="collection">
            {% for order in orders %}
              <li class="collection-item">{{ order.name }},
                                          {{ order.cost }},
                                          {{ order.parts }}
              </li>
            {% endfor %}
          </div>
          <a class='waves-effect waves-light dropdown-button btn' href='#' data-activates='order_dropdown'>Add an order</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
