
/* Mobile-layout: Portrait */
body{
	font-size: 12px;
	box-sizing: border-box;
}

/* Banner */

.banner p{
	padding-top: 1.5em;
}

.lsbox, .rsbox{
	float: left;
	padding-left: 2em;
	padding-top: 1.5em;
	width: 95%;
	height: 30%;
}

.rsbox{
	width: 70%;
}

.banner label {
	float: left;
	padding-left: 1em;
}

.banner input[type="text"]{
	width: 100%;
}

.banner input[type="image"]{
	margin: 2.1em;
}

.hamburger{
	display: inline-block;
}

/* main content */
.main_content{
	width: 90%;
	margin: 0 5%;
	text-align: center;
}

.filter_bar{
	display: none;
}

.right_container{
	width: 95%;
}

.entry_item {
	width: 100%;
}

/* bottom_container */

.bottom_container .target_group {
	width: 100%;
	height: 30%;
}

.bottom_container ul {
	display: none;
}

/* Mobile-layout: Landscape */